.sideMenu {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(217.2 91.2% 59.8%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-muted: hsl(217, 24%, 28%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(224.3 76.3% 48%);
    --ring-muted: hsl(224.3, 50%, 48%);

    top: 0;
    left: 0;
    padding: 0;
    width: 14vw;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--muted);
    overflow: auto;
}

.sideMenu ul {
    padding-top: 0%;
    padding-left: 2.5%;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.sideMenu li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    align-items: center;
}

.sideMenu .link {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.sideMenu li a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--foreground);
}

.sideMenu li img {
    padding-right: 8px;
}

.sideMenu li:hover {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--ring-muted);
}

.sideMenu .titleHead {
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sideMenu .titleHead:hover {
    cursor: default;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--foreground);
    background-color: var(--accent);
}

.sideMenu .menu {
    padding-top: 0%;
    padding-left: 30%;
    padding-right: 30%;
}

.sideMenu .menu:hover {
    padding-top: 0%;
    padding-left: 30%;
    padding-right: 30%;
    color: var(--foreground);
    background-color: var(--accent);
}

.sideMenu .settings {
    padding: 8px 16px;
}

.sideMenu .settings:hover {
    padding: 8px;
}

.sideMenu .dropdown {
    padding-left: 12px;
    background-color: var(--accent-muted);
    max-height: 18vh;
    max-width: 14vw;
    overflow-x: auto;
}

.sideMenu .dropdown li {
    /* padding: 4px 16px; */
    /* margin: 0; */
    white-space: nowrap;
}

.sideMenu .dropdown:hover {
  padding: 4px 16px;
  padding-left: 12px;
  margin: 0;
  white-space: nowrap;
}

.icon {
    block-size: 10px;
    /* padding-left: 0%;
    padding-right: 0%; */
}

.settings_container {
    margin-top: auto;
    font-size: 10px;
    background-color: var(--accent);
}